p {margin: 0 auto}
.box {display: flex;
    position:absolute;
    width: 70%;
    height: 50%;
  justify-content: center;
align-items: center;
    color:white;
background-color: black;
font-family: Arial, Helvetica, sans-serif;
border-style: solid}
.container {
  display: flex; 
  justify-content:center;
}
