p {margin: 0 auto}
.coontainer-about-us{
  width: 100%;
  height:auto;
 
  align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  
   
}



.container-sub-about{
  background-color: black;
  width: 600px;
  background-color: black;
  color: white;
 margin-top: 120px;
  margin-bottom: 100px;
padding: 30px 50px;
float:right;

}

.container-sub-about h7{
font-size: 15px;
font-style: italic;
color: rgb(38, 175, 230);
text-decoration-line: underline;


}

.coontainer-about-us .container-sub-image img{
  margin-top: 50px;
  margin-bottom: 50px;
  width:700px;
  max-width: 100%;
  height: auto;
}


.container-sub-about img{
  filter: invert(100%);
  position: absolute;
 margin-top:0px ;
 margin-left:350px;
 background-color: white;

 
}
.container-sub-about h1{
  padding-bottom: 20px;

 
}