.container_contact_us{
    width:100%;
    

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.contactus_col1 {
    width: auto;
    height: auto;
    margin: 20px;
    border-style: solid;
    border-color:black;
    border-radius: 12px;
} 
.contactus_col2 {

width: 500px;
height:600px;
margin:20px;
border-style: solid;
border-color:black;
border-radius: 12px;
}
.contactus_col3 {

    width: 500px;
height:600px;
margin: 20px;
border-style: solid;
border-color:black;
border-radius: 12px;
}



.logos{
    display:block;
    /*padding: 40px;*/
    height: 20 px;
    width:20px;
    max-width: 100%;
    margin: 0 auto;
}

