@import url('https://fonts.googleapis.com/css2?family=Oxygen'); * { font-family: 'Oxygen' }

.navbar-dark {
  background: black;
}

.border-bottom {
  border-width:2px !important;
}

.navbar-nav {
  margin-left: -50px;
  font-size: 20px;
}

.vertical {
  border: 1px solid white;
  margin-right: 150px;
  height: 50px;
}

